### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
df= pd.DataFrame(purchase_data)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
df_organized = df[['Purchase ID', 'Item ID', 'Item Name','Price', 'Gender', 'Age', 'SN']]
df_organized.head()

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
0,0,108,"Extraction, Quickblade Of Trembling Hands",3.53,Male,20,Lisim78
1,1,143,Frenzied Scimitar,1.56,Male,40,Lisovynya38
2,2,92,Final Critic,4.88,Male,24,Ithergue48
3,3,100,Blindscythe,3.27,Male,24,Chamassasya86
4,4,131,Fury,1.44,Male,23,Iskosia90

In [6]:
total_players = len(df_organized.SN.value_counts())
total_players
print(f"The total number of players are {total_players}.")

The total number of players are 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Items
total_unique_items = len(df_organized['Item ID'].value_counts())
total_unique_items

# Items Name
unique_item_name = len(df_organized['Item Name'].value_counts())
unique_item_name

# avg Price
average_price = round(df_organized.Price.mean(), 2)
average_price

# revenue
total_revenue = round(df_organized.Price.sum(), 2)
total_revenue

# average purchase per player
# avg_purchase_PP = round(total_revenue / total_unique_SN, 2)
# avg_purchase_PP

total_unique_purchID = len(df_organized['Purchase ID'].value_counts())
total_unique_purchID

# avg age
average_age = round(df_organized.Age.mean())
average_age

23.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]
male_df.head()

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
0,0,108,"Extraction, Quickblade Of Trembling Hands",3.53,Male,20,Lisim78
1,1,143,Frenzied Scimitar,1.56,Male,40,Lisovynya38
2,2,92,Final Critic,4.88,Male,24,Ithergue48
3,3,100,Blindscythe,3.27,Male,24,Chamassasya86
4,4,131,Fury,1.44,Male,23,Iskosia90

In [9]:
grouped_male_df = male_df.groupby(['SN'])
#print(grouped_male_df)
total_male_players = len(grouped_male_df)
total_male_players

484

In [10]:
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]
female_df.head()

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
15,15,98,"Deadline, Voice Of Subtlety",2.89,Female,21,Lisassa64
18,18,82,Nirvana,4.90,Female,22,Reunasu60
38,38,116,Renewed Skeletal Katana,4.18,Female,10,Reulae52
41,41,7,"Thorn, Satchel of Dark Souls",1.33,Female,20,Assosia88
55,55,84,Arcane Gem,3.79,Female,25,Phaelap26

In [11]:
grouped_female_df = female_df.groupby(['SN'])
#print(grouped_female_df)
total_female_players = len(grouped_female_df)
total_female_players

81

In [12]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]
other_df.head()

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
9,9,136,Ghastly Adamantite Protector,3.58,Other / Non-Disclosed,35,Chanosian48
22,22,24,Warped Fetish,3.81,Other / Non-Disclosed,38,Siarithria38
82,82,160,Azurewrath,4.40,Other / Non-Disclosed,16,Haerithp41
111,111,41,Orbit,4.75,Other / Non-Disclosed,21,Sundim98
228,228,80,Dreamsong,3.39,Other / Non-Disclosed,20,Jiskirran77

In [13]:
grouped_other_df = other_df.groupby(['SN'])
#print(grouped_other_df)
total_other_players = len(grouped_other_df)
total_other_players

11

In [14]:
male_percentage = round(total_male_players / total_players, 4)*100
male_percentage

84.03

In [15]:

female_percentage = round(total_female_players / total_players, 4)*100
female_percentage
other_percentage = round(total_other_players / total_players, 4)*100
other_percentage

1.91

In [16]:

player_summary_df = pd.DataFrame({"Total Count": [total_male_players, total_female_players, total_other_players],
                                 "Percentage of Players": [male_percentage, female_percentage, other_percentage]},
                                 index=["Male", "Female", "Other / Non-Disclosed"])            
player_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]

total_purchase_countF = len(female_df)

total_purchase_countF

113

In [18]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]

total_purchase_countM = len(male_df)

total_purchase_countM

652

In [19]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]

total_purchase_countO = len(other_df)

total_purchase_countO

15

In [20]:
# Price Calculation for female and male
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]

avg_purch_priceF = round(female_df['Price'].mean(), 2)

avg_purch_priceF

3.2

In [21]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]

avg_purch_priceM = round(male_df['Price'].mean(), 2)

avg_purch_priceM

3.02

In [22]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]

avg_purch_priceO = round(other_df['Price'].mean(), 2)

avg_purch_priceO

3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
print(df_organized["Age"].max())
print(df_organized["Age"].median())
print(df_organized["Age"].min())

45
22.0
7

In [24]:
df_organized.head()

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
0,0,108,"Extraction, Quickblade Of Trembling Hands",3.53,Male,20,Lisim78
1,1,143,Frenzied Scimitar,1.56,Male,40,Lisovynya38
2,2,92,Final Critic,4.88,Male,24,Ithergue48
3,3,100,Blindscythe,3.27,Male,24,Chamassasya86
4,4,131,Fury,1.44,Male,23,Iskosia90

In [ ]:
# stuck

In [25]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create labels for these bins
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", 
               "35-39", "40+"]

In [26]:
pd.cut(df_organized["Age"], age_bins, labels=bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [28]:
age_group = df_organized.groupby("SN")

age_group.head(5)

,Purchase ID,Item ID,Item Name,Price,Gender,Age,SN
0,0,108,"Extraction, Quickblade Of Trembling Hands",3.53,Male,20,Lisim78
1,1,143,Frenzied Scimitar,1.56,Male,40,Lisovynya38
2,2,92,Final Critic,4.88,Male,24,Ithergue48
3,3,100,Blindscythe,3.27,Male,24,Chamassasya86
4,4,131,Fury,1.44,Male,23,Iskosia90
5,5,81,Dreamkiss,3.61,Male,22,Yalae81
6,6,169,"Interrogator, Blood Blade of the Queen",2.18,Male,36,Itheria73
7,7,162,Abyssal Shard,2.67,Male,20,Iskjaskst81
8,8,21,Souleater,1.10,Male,22,Undjask33
9,9,136,Ghastly Adamantite Protector,3.58,Other / Non-Disclosed,35,Chanosian48
10,10,95,Singed Onyx Warscythe,4.74,Male,23,Inguron55
11,11,162,Abyssal Shard,2.67,Male,23,Haisrisuir60
12,12,116,Renewed Skeletal Katana,4.18,Male,21,Saelaephos52
13,13,4,Bloodlord's Fetish,1.70,Male,22,Assjaskan73
14,14,165,Bone Crushing Silver Skewer,4.86,Male,35,Saesrideu94
15,15,98,"Deadline, Voice Of Subtlety",2.89,Female,21,Lisassa64
16,16,40,Second Chance,2.52,Male,20,Lisirra25
17,17,161,Devine,1.76,Male,21,Zontibe81
18,18,82,Nirvana,4.90,Female,22,Reunasu60
19,19,89,"Blazefury, Protector of Delusions",4.64,Male,30,Chamalo71
20,20,57,"Despair, Favor of Due Diligence",4.60,Male,20,Iathenudil29
21,21,168,"Sun Strike, Jaws of Twisted Visions",1.48,Male,20,Phiarithdeu40
22,22,24,Warped Fetish,3.81,Other / Non-Disclosed,38,Siarithria38
23,23,151,Severance,3.40,Male,40,Eyrian71
24,24,141,Persuasion,3.19,Male,30,Siala43
25,25,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,Male,29,Lisirra87
26,26,71,Demise,1.61,Male,11,Lirtossa84
27,27,96,Blood-Forged Skeletal Spine,3.09,Male,7,Eusri44
28,28,119,"Stormbringer, Dark Blade of Ending Misery",4.32,Male,21,Aela59
29,29,37,"Shadow Strike, Glory of Ending Hope",3.16,Male,24,Tyida79
...,...,...,...,...,...,...,...
750,750,167,"Malice, Legacy of the Queen",3.61,Male,22,Iljask75
751,751,180,Stormcaller,3.36,Male,11,Lisjaskan36
752,752,112,Worldbreaker,2.60,Male,17,Mindjasksya61
753,753,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,Male,36,Frichirranya75
754,754,79,"Alpha, Oath of Zeal",4.05,Female,23,Pheosurllorin41
755,755,76,Haunted Bronzed Bludgeon,3.15,Male,12,Raesty92
756,756,73,Ritual Mace,2.05,Male,20,Ilast79
757,757,57,"Despair, Favor of Due Diligence",4.60,Male,18,Eratiel90
758,758,182,Toothpick,4.03,Male,21,Iral74
759,759,72,Winter's Bite,3.77,Male,25,Tyaelorap29
760,760,44,Bonecarvin Battle Axe,2.38,Male,21,Aithelis62
761,761,17,"Lazarus, Terror of the Earth",1.70,Male,45,Assim27
762,762,110,Suspension,1.44,Male,26,Asur53
763,763,85,Malificent Bag,1.75,Male,21,Lassilsala30
764,764,113,Solitude's Reaver,4.07,Male,18,Saedaiphos46
765,765,130,Alpha,2.07,Male,18,Irith83
766,766,58,"Freak's Bite, Favor of Holy Might",4.14,Male,23,Aelastirin39
767,767,92,Final Critic,4.88,Female,8,Ilmol66
768,768,92,Final Critic,4.88,Male,38,Assassasta79
769,769,145,Fiery Glass Crusader,4.58,Male,15,Ilosian36
770,770,12,Dawne,1.02,Male,34,Lirtosia63
771,771,25,Hero Cane,4.35,Male,16,Iskossasda43
772,772,136,Ghastly Adamantite Protector,3.58,Male,26,Asur53
773,773,19,"Pursuit, Cudgel of Necromancy",1.02,Male,21,Hala31
774,774,101,Final Critic,4.19,Male,11,Jiskjask80
775,775,60,Wolf,3.54,Female,21,Aethedru70
776,776,164,Exiled Doomblade,1.63,Male,21,Iral74
777,777,67,"Celeste, Incarnation of the Corrupted",3.46,Male,20,Yathecal72
778,778,101,Final Critic,4.19,Male,7,Sisur91
779,779,50,Dawn,4.60,Male,24,Ennrian78

In [29]:
age_group_counts = age_group["Age Group"].value_counts()

age_group_counts_df = pd.DataFrame(age_group_counts)

age_group_counts_df = age_group_counts_df.rename(columns={"Age Group":"Counts"})

age_group_counts_df = age_group_counts_df.reset_index(level=["Age Group"])
age_group_counts_df = pd.DataFrame(age_group_counts_df["Age Group"].value_counts())
age_group_counts_df = age_group_counts_df.rename(columns={"Age Group":"Total Count"})
age_group_counts_df = age_group_counts_df.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

#adding a column to the dataframe age_group_counts_df called "Percentage of Players"
# and will figure out the formula for you.

age_group_counts_df["Percentage of Players"] = (age_group_counts_df["Total Count"]/age_group_counts_df["Total Count"].sum())

#Formatting the value in the summary table
age_group_counts_df['Percentage of Players'] = pd.to_numeric(age_group_counts_df['Percentage of Players'])
age_group_counts_df['Percentage of Players'] = age_group_counts_df['Percentage of Players'].map("{:.2%}".format)

#age_group_counts_df

KeyError: 'Column not found: Age Group'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
total_purch_age = age_group["Purchase ID"].count()
print(total_purch_age)

avg_purchPrice_age = round((age_group["Price"].sum() / total_purch_age), 2)
print(avg_purchPrice_age)

SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
Aelastirin39       2
Aelidru27          1
Aelin32            3
Aelly27            2
Aellynun67         1
Aellyria80         1
Aelollo59          2
Aenarap34          1
Aeral43            1
Aeral68            1
Aeral97            1
Aeralria27         1
Aeralstical35      1
Aeri84             1
Aerillorin70       1
Aerithllora36      2
Aerithnucal56      1
Aerithnuphos61     1
Aerithriaphos45    1
Aerithriaphos46    1
Aesri53            1
Aesty53            2
Aestysu37          2
Aesur96            1
Aesurstilis64      1
                  ..
Undosia27          1
Undosian34         2
Undotesta33        1
Wailin72           1
Yadacal26          2
Yadaisuir65        1
Yadam35            1
Yadanu52           1
Yadaphos40         2
Yalae81            2
Yalaeria91         1
Yaliru88           1
Yalo85             1
Yalostiphos68      1
Yana46             1
Yarithllodeu72     1
Yarithrgue83       1
Yarithrin84        1
Yarithsurgue62     1
Yarolwen77         1
Yasrisu92          1
Yastyriaphos75     1
Yasur35            1
Yasur85            1
Yathecal72         1
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3
Name: Purchase ID, Length: 576, dtype: int64
SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       3.64
Aelidru27          1.09
Aelin32            2.99
Aelly27            3.39
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          2.82
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      4.32
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            1.96
Aestysu37          2.69
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         4.15
Undotesta33        4.74
Wailin72           2.73
Yadacal26          3.27
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         2.68
Yalae81            3.34
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         2.07
Yathedeu43         3.01
Yoishirrala98      4.58
Zhisrisu83         3.94
Zontibe81          2.68
Length: 576, dtype: float64

In [31]:
total_purch_value = age_group["Price"].sum()
print(total_purch_value)

SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       7.29
Aelidru27          1.09
Aelin32            8.98
Aelly27            6.79
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          5.63
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      8.64
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            3.91
Aestysu37          5.38
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         8.30
Undotesta33        4.74
Wailin72           2.73
Yadacal26          6.54
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         5.35
Yalae81            6.69
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         6.22
Yathedeu43         6.02
Yoishirrala98      4.58
Zhisrisu83         7.89
Zontibe81          8.03
Name: Price, Length: 576, dtype: float64

In [32]:

avg_purchPrice_person = round((total_purch_value / total_purch_age), 2)
print(avg_purchPrice_person)

SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       3.64
Aelidru27          1.09
Aelin32            2.99
Aelly27            3.39
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          2.82
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      4.32
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            1.96
Aestysu37          2.69
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         4.15
Undotesta33        4.74
Wailin72           2.73
Yadacal26          3.27
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         2.68
Yalae81            3.34
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         2.07
Yathedeu43         3.01
Yoishirrala98      4.58
Zhisrisu83         3.94
Zontibe81          2.68
Length: 576, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame